body{
    background-color: floralwhite;
    font-size: x-large;
    margin-top: 50px;
    font-weight: lighter;
    text-align: center;
}
.one{
    width: 500px;
    border-radius: 20px;
}
.search-input{
    width: 400px;
    text-align: justify;
    font-size: larger;
    font-weight: bolder;
    border: 5px solid black;
    padding: 20px; 
    height: 15px;
    text-align: center;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.btn
{    width: 200px;
    height:50px;
    border-radius:10px;
    display: justify;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: black;
}